
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|PlayFair+Display');


@import './partials/variables.scss';
@import './partials/setup.scss';
@import './partials/header.scss';
@import './partials/sections.scss';
@import './partials/learned.scss';
@import './partials/projects.scss';
@import './partials/about.scss';
@import './partials/footer.scss';
@import './partials/responsive.scss';



h1{
		font-family:$m-font;
		font-size:$h1-size;
}


.typingAnim{
	display: flex;
	flex-direction:row;
	margin:10px;
	height:20px;
}




// /*Story*/
// #story{
// 	background-image:linear-gradient(to top,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../assets/background5.jpg');
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }
// #story h1{
// 	color:#524f4f;
// 	display: flex;
// 	justify-content: center;
// }
// .story-box {
// 	border:2px solid black;
// 	display: flex;
// 	margin:100px 50%;
// 	background-color: $background-white;
// }
// .story-container{
// 	max-width:700px;
// 	min-width: 300px;
// 	max-height:200px;
// 	padding:10%;
// 	text-align: center;
// }
// .story-container p{
// 	color:black;
// 	font-family: $montserrat;
// }



.left{
	float:left;
}

.right{
	float:right;
}



