

/*variables*/
$montserrat: 'montserrat',sans-serif;
$h1-size: 90px;
$hero-h1:40px;
$hero-h3:25px;
$h1-size-2: 50px;
$background-white:white;
$background-grey:#ebebeb;

@import './partials/setup.scss';
@import './partials/header.scss';
@import './partials/sections.scss';
@import './partials/fonts.scss';
@import './partials/learned.scss';
@import './partials/projects.scss';
@import './partials/responsive.scss';



h1{
		font-family:$montserrat;
		font-size:$h1-size;
}


.typingAnim{
	display: flex;
	flex-direction:row;
	margin:10px;
	height:20px;
}


/*About*/



#about {
		justify-content: flex-start;
		align-items: flex-start;

		.about-description{
			/*text-align: center;*/
			line-height: 30px;
			max-width: 550px;
		}
}


/*Story*/
#story{
	background-image:linear-gradient(to top,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../assets/background5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#story h1{
	color:#524f4f;
	display: flex;
	justify-content: center;
}
.story-box {
	border:2px solid black;
	display: flex;
	margin:100px 50%;
	background-color: $background-white;
}
.story-container{
	max-width:700px;
	min-width: 300px;
	max-height:200px;
	padding:10%;
	text-align: center;
}
.story-container p{
	color:black;
	font-family: $montserrat;
}



.left{
	float:left;
}

.right{
	float:right;
}






