.hero .scroll:hover, nav ul li a:hover{
	color:#000000;
	transition: 0.5s ease;
	cursor: pointer;
}

nav ul li a:after{
	content: '';
	width: 100%;
	height: 3px;
	background-color: #eabf18;
	display: block;
	transform:scaleX(0);
	transition:transform 0.2s ease-in-out;

}
nav ul li a:hover:after{
		transform:scaleX(1);
}

nav{
	padding: 30px;
   width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: 0.5s ease;
}

nav span{
	display: none;
}

.mobile-nav{
	display: none;
}

.navigation-left{
	min-height:100vh;
	background-color:#FCFCFD;
	width: 8vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-right:1px solid #DFDFDF;
	position: fixed;
	padding:50px 0;
	
	z-index: 400;
}
.navigation-left span{
	font-size:40px;
	color:#524f4f;

}

.navigation-left span:hover{
	color:#eabf18;
	transform:rotate(360deg);
	transition: 1s ease;
}

.logo{
	margin:20px;
	font-size:70px;
	color:#524f4f;
	letter-spacing: -5px;
	font-weight: 500;
	display: flex;
	font-family: 'Playfair Display', sans serif;
}

nav ul{
	flex:1 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width:100%;
}

nav ul li{
	list-style-type: none;
	flex:0 1 auto;
	margin:0 20px;
}


nav ul li a{
	color:#524f4f;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
}

.sub-menu{
	display: none;
	position: absolute;

}

.sub-menu li{
	margin: 10px 0;
	display:flex;
	flex-wrap: wrap;

}

.resume:hover .sub-menu{
	display: flex;
	flex-direction: column;
	margin-right:none;

}


.hero{
	background-image:linear-gradient(to top,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../assets/background5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	max-width:100vw;
	padding:80px 80px;
}

.hero-title{
	height:100%;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:#524f4f;
/*	border:1px solid #524f4f;*/
	font-size:1.4em;
}

.hero h3{
	font-size:20px;
}

.hero h1{
	font-family: 'Roboto',sans-serif;
	font-size:$hero-h1;
}
.hero h3{
	font-family: 'Roboto',sans-serif;
	font-size:$hero-h3;
}
.hero .scroll{
	position: absolute;
	left:50%;
	color:#524f4f;
	transform: translate(-50%,-50%);
	font-size:30px;

}