/*learned*/

#learned.section{
	padding:20px 30px;
	padding-left:60px;

	.learned{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;

		span:nth-child(1){
			margin-left:0;
		}
		span{
			font-size:80px;
			margin:10px 20px;
		}
	}

}


