/*projects*/

#projects {
  // background: #ebebeb;
  margin-left:calc(8vw + 60px);
  padding:0;
 
 	.projects{
 		display: flex;
 		flex-direction: row;
 		flex-wrap:wrap;

 	}
  // background-color: $background-grey;
	
	.project{
		display: flex;
		flex-direction: row;
		  overflow: hidden;
		  justify-content: center;
		  align-items: center;
		  max-height: 550px;
		  width:100%;
	}

	.project img {
	  display: block;
	  width: 100%;
	  height: 500px;

	}

	.project-description{
		width:calc(100% / 2 - 20px);
		margin-bottom:20px;
			
			h2{
				font-size:35px;
				font-weight: 700;
			}

			h3{
				// text-transform: uppercase;
				font-weight: 500;

			}
			
			h2, h2,h4{
				margin: 20px 0;
			}

			h4{
				text-transform:uppercase;
				color:$gold;
			}

		
	}

	.project-des-cont{
		background-color:$background-grey;
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		align-content:center;
		justify-content: center;
		align-items:center;
		text-align:center;
		padding:20px;
	}


	.project-btns{
		display:flex;
		flex-direction:row;
		margin:20px;
		align-items: center;
		justify-content: center;
	}
}

.button{
	background-color:#ffffff;
	padding:15px 40px;
	border-radius:3%;
	font-size:1.1em;

	&:hover{
		background-color:#eabf18;
		transition:1s ease-in;
		color:white;
	}
}


.project-margin{
	margin-right:20px;
	margin-bottom:20px;
}

.project-header{
	height:90vh;
	width:100%;
	background-color: $background-grey;
	margin-bottom:80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, rgba(235,235,235,0.3),rgba(235,235,235,0.3)),url("../assets/projects.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;


	h1{
		color:$background-grey;
		font-family: $montserrat;
		font-size:50px;
		text-transform:uppercase;
	}
}

.project-order-1{
	order:1;
}

.project-order-2{
	order:2;
}

 // Will switch  
.project-order-3{
	order:4;
	margin-right:0;
	margin-left:20px;

}

// Will switch
.project-order-4{
	order:3;

}
.project-order-5{
	order:5;
}

.project-order-6{
	order:6;
}