
@media (min-width: 1201px) {


	.flex-project{
		max-width:calc(100% / 2);
	}

	#projects {
		.flex-project.project-description.project-order-4{
			width:(100% / 2);
		}

		.flex-project.project-margin.project-order-3{
			width:calc(100% / 2 - 20px);
		}
	}
}
@media (max-width: 1200px) {

	.navigation-left span{
		font-size:30px;
	}
	.logo{
		font-size:50px;
	}

	.flex-project{
	/*align-self : flex-start;*/
	max-width:none;
	}

	.project-margin{
		margin-right:0;
		margin-bottom:0;
	}

	#projects .project-description{ 
		width:100%;
		margin-bottom:0;
	}
	
	#projects{
		.flex-project.project-margin.project-order-3{
			order:3;
			margin-left:0;
		}

		.flex-project.project-margin.project-order-4{
			order:4;
		}	
	}
}

@media (max-width: 940px) {
	.navigation-left span{
		font-size:25px;
	}
	.logo{
		font-size:40px;
	}

	#projects .project img{
  		height: 100%;
  	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.navigation-left span{
		font-size:15px;

	}
	.logo{
		font-size:30px;
	}

	.navigation-left, nav ul{
		display: none;
	}

	.mobile-nav{
		font-size:30px;
		justify-content:space-between;
		display: flex;
		flex-direction: row;
		align-items: center;
		width:100%;

	}

	.mobile-nav .logo{
		letter-spacing: -4px;
		font-size:40px;
		margin: 0;
	}

	.hero{
		padding: 80px 0;
	}

	section {
    	padding:0;
    	margin: 60px 27px;
	}

		h1 {
   		font-size: 50px;
		}
	.learned span{
		 margin: 10px 5px;
	}

	nav{
		padding: 17px 30px;
		background-color:$white;
		border-bottom:1px solid $lightgrey;
		z-index:100;
	}

	#projects {
 		background:$lightgrey;
 		margin:0;
	}

	
	#projects .projects{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	#projects .project img{
  		height: 100%;
  	}
		

  		#about.section , #learned.section{
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		#learned .learned{
		justify-content: center;
		align-items: center;
			span:nth-child(1){
				margin-left:20px;
			}
		}	

	.footer{
		margin:0;
	}

	#about-me{
		justify-content: center;
	}
	
}

/* Landscape phones and down */
@media (max-width: 480px) {

	#learned.section .learned span{
		font-size:40px;
		 margin: 10px 5px;
	}

	#learned.section{
		padding-left:0;
	}

	#projects .project img{
  		height: 100%;
  	}


	#about, #learned{
		justify-content: center;
		align-items: center;
	}

	.project-header{
		height:70vh;
	}

	.section.footer{
		flex-direction: column;
		justify-content: center;
	}

	.copyright{
		padding:20px;
		font-size:12px;

	}
}
