/*variables*/
$montserrat: 'montserrat',sans-serif;
$h1-size: 90px;
$hero-h1:40px;
$hero-h3:25px;
$h1-size-2: 50px;
$background-white:white;
$background-grey:#ebebeb;
$gold:#EABF18;
$questrial:'questrial', sans-serif;
// $gold:#d6ba8d;